global
  log stdout format raw local0

defaults
  mode http
  log global
  option httplog
  option abortonclose
  timeout connect 5s
  timeout client 1h
  timeout server 1h
  timeout tunnel 1h

frontend tls
  bind :8443 ssl crt /certs/server.pem alpn http/1.1
  http-request set-header X-Forwarded-Proto https
  default_backend hermit

backend hermit
  option httpchk GET /healthz
  http-check expect status 200
  server local hermit:8080 check
