global
    log stdout format raw local0

defaults
    mode tcp
    log global
    option tcplog
    timeout connect 5s
    timeout client 60s
    timeout server 60s

listen postgres_tls
    bind :15432
    server postgres postgres:5432 check

listen pgbouncer_tls
    bind :16432
    server pgbouncer pgbouncer_tls:6432 check
