global
  log stdout format raw local0

defaults
  mode http
  log global
  option httplog
  timeout connect 5s
  timeout client 1h
  timeout server 1h

frontend public
  bind :443 ssl crt /etc/haproxy/certs/hermit.pem
  http-request set-header X-Forwarded-Proto https
  default_backend hermit

backend hermit
  option httpchk GET /healthz
  http-check expect status 200
  server local 127.0.0.1:8080 check
